<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/css/global.css}">
    <title>GetFretes</title>
</head>

<body>

    <h1>Get Fretes</h1>

    <hr>

    <div class="card lg">
        <form action="/request" method="POST" class="vertical-form" th:object="${request}">
            
            <p th:if="*{id != null}" class="hidden noMargin" th:text="'ID: '+ *{id}"></p>

            <label for="clientName" class="hide">Nome do solicitante</label>
            <input placeholder="Nome do solicitante" type="text" id="clientName" th:field="*{userClient.name}" th:classappend="${#fields.hasErrors('userClient.name')}?invalid">
            <span th:errors="*{userClient.name}"></span>

            <label for="transporterName" class="hide">Nome do transportador</label>
            <input placeholder="Nome do transportador" type="text" id="transporterName" th:field="*{userTransporter.name}" th:classappend="${#fields.hasErrors('userTransporter.name')}?invalid">
            <span th:errors="*{userTransporter.name}"></span>

            <br>
            
            <label for="originState">Estado de orgibem</label>
            <select th:field="*{originState}" id="originState">
                <option th:each="state : ${states}" th:text="${state.initials}" th:value="${state.initials}"></option>
            </select>

            <br>

            <label for="destenyState">Estado de destino</label>
            <select th:field="*{address.state.id}" id="destenyState">
                <option th:each="state : ${states}" th:text="${state.initials}" th:value="${state.id}"></option>
            </select>

            <label for="addressStreet" class="hide">Rua da entrega</label>
            <input placeholder="Endereço" type="text" id="addressStreet" th:field="*{address.street}" th:classappend="${#fields.hasErrors('address.street')}?invalid">
            <span th:errors="*{address.street}"></span>

            <label for="addressStreetNumber" class="hide">Número da rua da entrega</label>
            <input placeholder="Número da rua" type="text" id="addressStreetNumber" th:field="*{address.streetNumber}" th:classappend="${#fields.hasErrors('address.streetNumber')}?invalid">
            <span th:errors="*{address.streetNumber}"></span>

            <select th:field="*{requestItemList[0].item.id}">
                <option th:each="item : ${itens}" th:text="${item.name}" th:value="${item.id}"></option>
            </select>

            <br>

            <label for="itemQtd" class="hide">Estado da entrega</label>
            <input placeholder="Quantidade" type="number" id="itemQtd" th:field="*{requestItemList[0].value}" th:classappend="${#fields.hasErrors('requestItemList[0].value')}?invalid">
            <span th:errors="*{requestItemList[0].value}"></span>

            <br>
            
            <label for="freightFactor" class="hide">Estado da entrega</label>
            <input readonly th:if="*{factor != null}" placeholder="Multiplicador" type="number" id="freightFactor" th:field="*{factor.value}" th:classappend="${#fields.hasErrors('factor.value')}?invalid">
            <span th:errors="*{factor.value}"></span>

            <!-- <label for="freightValue" class="hide">Estado da entrega</label>
            <input readonly placeholder="Valor do Frete" type="text" id="freightValue" th:field="*{freightValue}" th:classappend="${#fields.hasErrors('freightValue')}?invalid">
            <span th:errors="*{freightValue}"></span> -->

            <div class="buttons">
                <button class="button default" hef="request/index">cancelar</button>
                <input class="button" type="submit" th:value="${request.id == null}?cadastrar:alterar" />
            </div>
    
        </form>
        
    </div>

</body>

</html>