/*====================================================================
----------------------------- VARIABLES ------------------------------
====================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

::-webkit-scrollbar-thumb { background-color: rgba(4, 0, 255, 0.4);}
::-webkit-scrollbar { width: .5rem;}
::-webkit-scrollbar-track {background-color: var(--bg);}

/*====================================================================
----------------------------- GERAL ----------------------------------
====================================================================*/

:root{
    --bg: #272B30;
    --primary: rgb(97, 86, 243);
    --bg-grad: linear-gradient(270deg, rgba(21, 26, 31, 0.2) 0%, rgba(139, 142, 145, 0.2) 100%);
    --text-color: #FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/*====================================================================
----------------------------- ELEMENTS -------------------------------
====================================================================*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
}

body{
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 10px;
}

main{
    margin-bottom: 2rem;
}

h1{
    font-size: 2.4rem;
    margin: 1rem;
}

h2{
    font-size: 1.2rem;
}

hr{
    margin: 2rem;
    border-color: rgba(139, 142, 145, 0.2);
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
}

p{
    margin-left: 2rem;
    font-size: 1rem;
}

/*====================================================================
----------------------------- CLASSES --------------------------------
====================================================================*/

/* GENERAL */

.geral{
    margin-inline: 2rem;
}

.title{
    margin: 1rem 0rem;
    font-weight: bold;
}

.sizeDefault{
    width: 4rem;
    margin-inline: 1rem;
}

.noMargin{
    margin: 0rem;
}

/* DIV */

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
}

.flexSpaceAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* BUTTONS */

.toolbar{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.buttons .button {
    flex-grow: 1;
    text-align: center;
}

.button {
    background: var(--primary);
    box-shadow: 0px 0px 6px var(--primary);
    border-radius: 5px;
    color: var(--bg);
    font-size: 1rem;
    padding: .5rem 2rem;
    border: none;
    cursor: pointer;
}

.button.cancel {
    background: var(--bg);
    box-shadow: none;
    color: var(--text-color);
}

/* CARDS */

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem;
    height: 4rem;
    background: var(--bg-grad);
    border: 1px solid #333333;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.card.animated{
    cursor: pointer;
}

.card.animated:hover{
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    transform:translateY(-6px);
}

.card.lg{
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 2rem;
    height: 20rem;
    
}

/* STATUS */

.status {
    position: relative;

}

.status svg{
    position: relative;
    width: 150px;
    height: 150px;
}

.status circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #19191966;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.status circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * 50) / 100 );
    stroke: var(--primary);
    filter: drop-shadow(0px 0px 3px var(--primary));
}

.status .number{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}
.status .number h2{
    font-size: 2rem;
    filter: opacity(.5);
}

/* SCORE */

.score{
    display: flex;
    justify-content: center;
    align-items: center;
}

.score span {
    font-size: 1rem;
    margin-left: .5rem;
}

.score span:nth-child(1) {
    color: var(--primary);
}

.vertical-form{
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

input[type=text], textarea {
    background: var(--bg);
    border: 1px solid #545D68;
    box-shadow: inset -4px -4px 4px rgba(103, 103, 103, 0.25), inset 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: .8rem;
    color: var(--text-color);
    margin-top: 1rem;
}

textarea{
	resize: vertical;
	height: 5rem;
	width: 20rem;
    font-family: 'Poppins', sans-serif;
    max-height: 12rem;
}

#labelscore{
    margin: 1rem 0;
    font-size: 1rem;
}

.alert {
    padding: .5rem 1rem;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
    font-size: 1rem;
}

.alert.success {
    background-color: #2ecc71;
}

.invalid {
    border: solid 1px var(--primary) !important;
}